.flex-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    overflow-x: hidden;
    justify-content: space-between;
    align-items: center;
    /* background-color: pink; */
  }
  .header {
    width:100%;
    height:200px;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position:relative;
    /* background-color: aliceblue; */
  }
  .back-icon {
    position: absolute;
    top:63px;
    left:60px;
  }
  
  .title {
    padding-left:50px;
    padding-right:50px;
    padding-top:180px;
    text-align: center;
    font-size:30px;
    font-weight:700;
  }
  .product-name-section {
    width:100%;
    height:300px;
    padding-top:100px;
    /* position:relative; */
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    padding-left:90px;
  }
  .product-name {
    font-size:34px;
    font-weight:700;
    text-align:left;
    padding-bottom:20px;
  }
  .input-product-name {
    border-radius: 40px;
    background: #F0F2E5;
    height: 5vh;
    width:90%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 1.5rem 1em;
    flex: 0 0 auto;
    /* margin-bottom: 2em; */
    font-size:33px;
    color: #40424089;
    font-weight:lighter;
    border:solid #9CAC9C;
  }
  .quantity-section {
    width:100%;
    height:280px;
    padding-top:20px;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    padding-left:90px;
  }
  .quantity {
    font-size:34px;
    font-weight:700;
    text-align:left;
    padding-bottom:2px;
  }
  .quantity-field {
    display:flex;
    flex-direction:row;
    align-items: center;
    justify-content: flex-start;
    width:100%;
  }
  #input-quantity {
    border-radius: 40px;
    background: #F0F2E5;
    height: 5vh;
    width:15%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem 53px;
    flex: 0 0 auto;
    /* margin-bottom: 2em; */
    font-size:33px;
    color: #40424089;
    font-weight:lighter;
    border:solid #9CAC9C;
  }
  button {
    outline: none;
    background: transparent;
    border: none;
  }
  .notes-section {
    width:100%;
    height:720px;
    /* padding-top:100px; */
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    padding-left:90px;
  }
  .notes-title {
    font-size:34px;
    font-weight:700;
    text-align:left;
  }
  .input-notes {
    border-radius: 40px;
    background: #F0F2E5;
    height: 25vh;
    width:90%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 1.5rem 1em;
    flex: 0 0 auto;
    /* margin-bottom: 2em; */
    font-size:33px;
    color: #40424089;
    font-weight:lighter;
    border:solid #9CAC9C;
  }
  .desirable-date-section {
    width:100%;
    height:280px;
    /* position:relative; */
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    padding-left:90px;
  }
  .desirable-date-title {
    font-size:34px;
    font-weight:700;
    text-align:left;
    padding-bottom:2px;
  }
  .desirable-date-options {
    display: flex;
    flex-direction: row;
    padding: 1.5rem 1vh 1.5rem 1vh;
    border-radius: 40px;
    justify-content: space-evenly;
    background-color: #fdd775;
    font-weight: bolder;
    font-size: 2.2rem;
    align-items: center;
    height: 5vh;
    width: 90%;
  }
  .active-date {
    background-color:#273F3A;
    border: none;
    padding: 15px 30px;  
    color: rgb(255, 255, 249);
    display: inline-block;
    margin: 4px 2px;
    font-size:30px;
    font-weight:800;
    border-radius:35px; 
  }
  .inactive-date {
    color:#273F3A;
    font-size:30px;
    font-weight:800;
  }
  .add-to-wishlist {
    width: 77vw;
    background-color: #273f3a;
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0);
    border-radius: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 6vh;
    height: 5vh;
    color: rgb(255, 255, 249);
    font-size:30px;
    font-weight:800;
  }