.body {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.main-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
}

h1 {
  color: #404240;
  font-size: 4.5rem;
  font-weight: 800;
}

.top-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 15%;
  width: 90vw;
}

.top-header img {
  height: 4rem;
}

.add-receipt-btn {
  display: flex;
  flex-direction: row;
  padding: 1rem 2.5rem 1rem 2.5rem;
  border-radius: 3rem;
  justify-content: space-evenly;
  background-color: #4d8145;
  color: white;
  font-weight: medium;
  font-size: 2.2rem;
  margin: 20px;
  gap: 2.5rem;
  align-items: center;
}

.add-receipt-btn img {
  height: 0.9em;
}

.banner-carousel {
  border-radius: 1.5rem;
  background-color: #e59262;
  margin-bottom: 3em;
}

.banner-show {
  display: none;
}

.banner {
  width: 90vw;
  color: white;
  display: flex;
  height: 18vh;
  display: flex;
  justify-content: space-around;
}

.banner-focus {
  font-size: 4.5em;
  font-weight: 800;
}

.banner-text span {
  font-size: 2.3em;
  font-weight: 400;
  line-height: 120%;
}

.banner-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: 3vh;
}

.banner img {
  height: 18vh;
}

.groceries-container {
  margin-bottom: 3em;
  width: 90vw;
}

.banner-dots {
  text-align: center;
  margin-bottom: 1em;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.groceries-cards-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: auto;
  width: 100%;
  gap: 2em;
}

.groceries-header {
  display: flex;
  margin-bottom: 1.2em;
  gap: 1.2em;
  height: fit-content;
  align-items: center;
}

.home-small-header {
  color: #404240;
  font-weight: 800;
  font-size: 2.5em;
}

.groceries-count {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2em;
  width: 2em;
  padding: 1em;
  background-color: #404240;
  font-weight: 600;
  font-size: 1.5em;
  border-radius: 3em;
  color: white;
}

.groceries-header a,
a:visited,
a:focus,
a:hover {
  color: #638061;
  font-weight: 200;
  font-size: 2rem;
}

.grocery-card {
  border-radius: 1.5rem;
  background-color: #dce8af;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  padding: 2rem;
  height: 18vh;
  width: 18vh;
  flex: 0 0 auto;
  justify-content: space-evenly;
}

.food-img-container img {
  padding: 1rem;
  height: 10rem;
}

.food-img-container {
  border-radius: 12rem;
  width: 10rem;
  background-color: #c7db78;
}

.home-md-header {
  color: #273f3a;
  font-weight: 800;
  font-size: 2.7em;
}

.expiry-details {
  font-size: 1.5vh;
  font-weight: 300;
  display: flex;
  align-items: center;
  gap: 0.3em;
}

.expiry-date {
  font-weight: 500;
}

.expiry-details svg {
  height: 0.8em;
  width: 0.8em;
}

.expiry-red {
  color: #ad0000;
}

.expiry-red circle {
  fill: #ad0000;
}

.expiry-orange {
  color: #bb542a;
}

.expiry-orange circle {
  fill: #bb542a;
}

.expiry-green {
  color: #4d8145;
}

.expiry-green circle {
  fill: #4d8145;
}

.wishlist-container {
  margin-bottom: 4em;
  width: 90vw;
  overflow: hidden;
}

.wishlist-card-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  overflow-y: scroll;
  gap: 2em;
  padding-bottom: 8em;
  width: 100%;
  height: 28vh;
}

.wishlist-card {
  border-radius: 1.5rem;
  background: #fdd775;
  height: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1em;
  flex: 0 0 auto;
}

.wishlist-week {
  font-weight: 600;
  font-size: 1.8em;
  color: #273f3a;
}

.wishlist-detail {
  font-weight: 400;
  font-size: 1.5em;
  color: #a67700;
}