.body {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    font-family:'Mulish', sans-serif;
    background-color: #FFFAF2;
    margin: 0px;
}

h1 {
    font-size: 2.5em;
    color: #404240;
    text-align: center;
    font-weight: 900;
}

h2 {
    font-size: 2.7em;
    color: #3F3F3F;
    text-align: left;
    font-weight: 900;
    margin-left: 10%;
    margin-top: 7%;
}

h3 {
    font-size: 1.8em;
    color: #3F3F3F;
    text-align: left;
    font-weight: 300;
    margin-top: 2%;
    margin-bottom: 2%;
}

h4 {
    font-size: 1.8em;
    color: #FFFAF2;
    text-align: left;
    font-weight: 500;
    margin: 0px;
}

p {
    font-size: 2.1em;
    color: #FFFAF2;
    text-align: left;
    font-weight: 500;
    margin: 0px;
}

.settings-header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: #FFFAF2;
    padding-top: 10%;
    padding-bottom: 2%;
}

.settings-main {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    overflow-y: scroll;
    margin-bottom: 10%;
}

.section {
    display: flex;
    flex-direction: column;
    width: 80%;
    justify-content: center;
    margin: 0px;
    margin-left: 10%;
    gap: 0.75em;
}

.item {
    background-color: #9CAC9C;
    border-radius: 15px;
    width: 100%;
    padding: 1.2em 1.5em;
    margin: 0px;
}

.back-icon {
    margin-left:8%;
}