.body {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    font-family:'Mulish', sans-serif;
    background-color: #FFFAF2;
    margin: 0px;
}

h1 {
    font-size: 2.5em;
    color: #3F3F3F;
    text-align: center;
    font-weight: 900;
}

h2 {
    font-size: 2.7em;
    color: #3F3F3F;
    text-align: left;
    font-weight: 900;
    margin-left: 10%;
    margin-top: 7%;
}

h3 {
    font-size: 1.8em;
    color: #3F3F3F;
    text-align: left;
    font-weight: 300;
    margin-top: 2%;
    margin-bottom: 2%;
}

h4 {
    font-size: 1.8em;
    color: #3F3F3F;
    text-align: left;
    font-weight: 500;
    margin: 0px;
}

p {
    font-size: 2.1em;
    color: #3F3F3F;
    text-align: left;
    font-weight: 500;
    margin: 0px;
}

textarea {
    font-size: 2.1em;
    color: #3F3F3F;
    text-align: left;
    font-weight: 500;
    margin: 0px;
    width: 100%; 
    background-color: transparent; 
    border: none;
    height: 2.5vh;
    outline: none;
}

.settings-header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: #FFFAF2;
    padding-top: 10%;
    padding-bottom: 2%;
}

.settings-main {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    overflow-y: scroll;
    margin-bottom: 10%;
}

.section {
    display: flex;
    flex-direction: column;
    width: 80%;
    justify-content: center;
    margin: 0px;
    margin-left: 10%;
    gap: 0.75em;
}

.item {
    background-color: #DCE8AF;
    border-radius: 15px;
    width: 100%;
    padding: 1.2em 1.5em;
    margin: 0px;
}

.back-icon {
    margin-left:8%;
}

.gen-item {
    background-color: #DCE8AF;
    border-radius: 15px;
    width: 100%;
    padding: 1.2em 1.5em;
    margin: 0px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
}
#expiry-dropdown {
    background-color: #DCE8AF;
    border: none;
    font-size: 2.1em;
    color: #3F3F3F;
    text-align: left;
    font-weight: 500;
    margin: 0px;
    outline: none;
}

.time {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-direction: row;
}

.hour {
    display: block;
    text-align: center;
    flex-direction: column;
    height: 2vh;
    overflow-y: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

.colon {
    font-size: 2.1em;
    color: #3F3F3F;
    scroll-snap-align: start;
}

.numbers {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2vh;
    font-size: 2.1em;
    color: #3F3F3F;
    scroll-snap-align: start;
    padding-top: 0.7vh;
}

.hour::-webkit-scrollbar {
    display: none;
}

.object {
    display:flex;
    flex-direction:row;
    gap: 2vw;
}

.img-option {
    margin-top: 0.2vh;
}

.forward-option {
    margin-top: 0.6vh;
}