.body {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    font-family:'Mulish', sans-serif;
    background-color: #FFFAF2;
    margin: 0px;
}

h1 {
    font-size: 1.6rem;
    color: #404240;
    text-align: center;
    font-weight: 900;
    margin-top: 10%;
}

h2 {
    font-size: 2.4rem;
    color: #3F3F3F;
    text-align: left;
    font-weight: 900;
    margin-left: 10%;
    margin-top: 5%;
}

h3 {
    font-size: 1.2rem;
    color: #3F3F3F;
    text-align: left;
    font-weight: 300;
}

h4 {
    font-size: 1.0rem;
    color: #FFFAF2;
    text-align: left;
    font-weight: 500;
}

p {
    font-size: 1.5rem;
    color: #FFFAF2;
    text-align: left;
    font-weight: 500;
    margin: 0px;
}

.section {
    display: flex;
    flex-direction: column;
    width: 80%;
    justify-content: center;
    margin: 0px;
    margin-left: 10%;
    gap: 0.5rem;
}

.item {
    background-color: #9CAC9C;
    border-radius: 15px;
    width: 100%;
    padding: 1rem;
    margin: 0px;
}